{% extends 'core/base.html' %}

{% block title%}Welcome{% endblock %}

{% block content %}
    <h1>The Contact Page</h1>
    <div class="form-area">  
        <form role="form">

                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" maxlength="70" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" maxlength="70" required>
                    </div>
                    <div class="form-group">
                    <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="300" rows="7"></textarea>                
                    </div>

        <button type="button" id="submit" name="submit" class="btn btn-m btn-secondary">Submit Form</button>
        </form>
{% endblock %}